<div layout="row" id="filter-nav">
    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <h3>Help us find breast cancer stories from people like you</h3>
        <md-input-container>
          <label>Race</label>
          <md-select ng-model="filter.race" aria-label="Race">
            <md-option ng-value="african_american">African American</md-option>
            <md-option ng-value="asian">Asian</md-option>
            <md-option ng-value="white">White</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Age</label>
          <md-select ng-model="filter.age" aria-label="Race">
            <md-option ng-value="{{::age}}" ng-repeat="age in ages">{{::age}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Children</label>
          <md-select ng-model="filter.children" aria-label="Race">
            <md-option ng-value="0">0</md-option>
            <md-option ng-value="1">1</md-option>
            <md-option ng-value="2">2</md-option>
            <md-option ng-value="3">3+</md-option>
          </md-select>
        </md-input-container>
        <div layout="column" class="input-group-column">
            <md-label>What keeps you from self checking?</md-label>
            <md-select ng-model="filter.children">
                <md-option>African American</md-option>
                <md-option>White</md-option>
                <md-option>Asian</md-option>
            </md-select>
        </div>
        <md-button class="md-raised md-primary" ng-click="addFilters()">Filter</md-button>
    </md-sidenav>
</div>
    <cvc-map></cvc-map>
    <div class="story-tool-tip story-1">
        <img src="http://s8.postimg.org/jqua3rglt/CVC_Story_ID_1.jpg">
        <div>“Thank god I started doing regular self exams early.”</div>
    </div>
    <div class="story-tool-tip story-2">
        <img src="http://s8.postimg.org/9i1sxxsk1/CVC_Story_ID_2.jpg">
        <div>“I had cancer three times in 10 years.”</div>
    </div>
    <div class="story-tool-tip story-3">
        <img src="http://s8.postimg.org/yclas0de9/CVC_Story_ID_3.jpg">
        <div>“I was very healthy and active.”</div>
    </div>
 <md-toolbar class="md-primary footer" layout="row" layout-align="center center">
</md-toolbar>
