// bower:scss
// endbower

body {
  padding: 0;
}


//containers and wrappers
.container {
    margin: 0 auto;
    text-align: center;
    min-height: 82%;
}

.map-wrapper {
    min-height: 100%;

    .cvc-map {
        border: 1px solid;
        width: 500px;
        height: 500px;
        line-height: 500px;
    }
}

/* Custom page footer */
.footer {
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
