// bower:scss
// endbower
html {
    font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
}


.header {
    margin: 0 40px;

    h2 {
        margin: 0;
    }
}

//containers and wrappers
.cvc-container {
    margin: 0 auto;
    text-align: center;
    min-height: 82%;
}

#map {
    width: 100vw;
    height: 82vh;
}

/* Custom page footer */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 10000000;
}

//dialogs
.md-dialog-container {
    z-index: 10000000000000;
}

md-backdrop.md-dialog-backdrop {
    z-index: 1000000000;
}

.story-modal {
    md-dialog-content {
        max-width:800px;
        max-height:810px;
    }
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
// }
